<style>
  #errorwrap {
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#error {
    font-size: 40px;
    color: aqua;
}

#errortext {
    font-size: 20px;
}
</style>
<div id="errorwrap">
    <h1 id="error">{{error}}</h1>
    <p id="errortext">{{errortext}}</p>
</div>